.regex-box,
.text-box {
  border: 1px black solid;
  height: 5rem;
  width: 50%;
}

form {
  height: 100%;
}

input {
  height: 100%;
  width: 100%;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}