.regex-box,
.input-text-box {
  height: 5rem;
  margin: 5rem;
  width: 50%;
  position: relative;
}

.outer-wrapper {
  border: 0;
  padding: 4px 0;
  background-color: transparent;
  height: 2rem;
}

.regex-field {
  border-bottom: 1px solid #ccc;
  // height: 60%;
  outline: none;
  overflow: auto;
  display: block;
  position: relative;
  max-height: 10rem;
  font-size: 1.8rem;
  padding-bottom: 3px;
  color: #af3a03;
  caret-color: #3c3836;

  & ~ .floating-label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
  }

  &:focus ~ .floating-label {
    top: 0;
    font-size: 1.2rem;
    color: #d3869b;
    transition: 0.3s;
  }

  &:focus,
  &:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #d3869b;
    transition: 0.4s;
    transform: translateX(1)
  }

}

.input-text-field {
  border-bottom: 1px solid #ccc;
  // height: 60%;
  outline: none;
  overflow: auto;
  display: block;
  position: relative;
  max-height: 10rem;
  font-size: 1.8rem;
  padding-bottom: 3px;
  color: #427b58;
  caret-color: #3c3836;

  & ~ .floating-label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
  }

  &:focus ~ .floating-label {
    top: 0;
    font-size: 1.2rem;
    color: #458588;
    transition: 0.3s;
  }

  &:focus,
  &:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #458588;
    transition: 0.4s;
    transform: translateX(1)
  }

}

form {
  height: 100%;
}

input {
  font-size: 3rem;
  height: 100%;
  width: 100%;
  text-align: center;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  white-space: nowrap;

  &:focus {
    outline: none;
  }
}
